
body{
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-family: Montserrat, sans-serif;
  background: url(img/mario.jpg) no-repeat center center fixed;
  background-size: cover;

}


#title {
  display: inline-flex;
  font-size: 70px;
  text-align: center;
  top: 20%;
  color: #D92323;

}


#color-palette {
  width: 300px;
  height: 150px;
  border: 1px solid black;

}

.color {
  
  color: blue;
}

#palette1 {
  background-color: black;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: left;
}
.selected {

}

#palette2 {
  background-color: #782038;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: left;
}

#palette3 {
  background-color: #011E46;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: left;
}

#palette4 {
  background-color: #F540FD;;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: left;

}

#pixel-board {
  background-color: white;
  border: 1px solid black;
  align-items: center;
  padding: 0%;
  width: 250px;
  height:0px;
  display: inline-flexbox;
}

.pixel{
  background-color: white;
  border: 1px solid black;
  display: inline-flex;
  width: 40px;
  height: 40px;
}

#idpix {
  width: 40px;
  height: 40px;
  border: 1px solid black;

}

/*#pixel2 {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}*/